@import "tailwindcss";

@layer base {
}
@theme {
  /* font-family */
  --font-mulish: "Mulish", "sans-serif";
  --font-plus_jakarta_sans: "Plus Jakarta Sans", sans-serif;
  /* screen breakpoint */
  --breakpoint-xs: 30em; /* 480px */
  --breakpoint-sm: 40em; /* 640px */
  --breakpoint-md: 48em; /* 768px */
  --breakpoint-lg: 64em; /* 1024px */
  --breakpoint-xl: 80em; /* 1280px */
  --breakpoint-2xl: 96em; /* 1536px */
  --breakpoint-3xl: 120em; /* 1920px */
  /* color */
  --color-primary: #0ea106;
  --color-text: #0f0f0f;
  --color-badge: #09982f;
  --color-badge-blue: #176ae5;
  --color-card-title: #0f0f0f;
  --color-card-border: #0f0f0f;
}

@layer utilities {
  .container {
    margin-inline: auto;
    padding-inline: 2rem;
    width: 100%;

    @media (min-width: 30em) {
      max-width: 30em;
    }
    @media (min-width: 40em) {
      max-width: 40em;
    }
    @media (min-width: 48em) {
      max-width: 48em;
    }
    @media (min-width: 64em) {
      max-width: 64em;
    }
    @media (min-width: 80em) {
      max-width: 80em;
    }
    @media (min-width: 96em) {
      max-width: 96em;
    }
    @media (min-width: 120em) {
      max-width: 120em;
    }
  }

}


.animate-slide-down {
  animation: goDown 0.5s ease-out forwards;
}
@keyframes goDown {
  0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
}