@import "tailwindcss";

@theme {
  /* font-family */
  --font-mulish: "Mulish", "sans-serif";
  --font-plus_jakarta_sans: "Plus Jakarta Sans", sans-serif;
  --breakpoint-xs: 480px;
  /* 30em */
  --breakpoint-sm: 640px;
  /* 40em */
  --breakpoint-md: 768px;
  /* 48em */
  --breakpoint-lg: 992px;
  /* 64em */
  --breakpoint-xl: 1280px;
  /* 80em */
  --breakpoint-2xl: 1536px;
  /* 96em */
  --breakpoint-3xl: 1920px;
  /* 120em */
  /* color */
  --color-primary: #0ea106;
  --color-text: #0f0f0f;
  --color-badge: #09982f;
  --color-badge-blue: #176ae5;
  --color-card-title: #0f0f0f;
  --color-card-border: #0f0f0f;
}

@layer utilities {
  .container {
    margin-inline: auto;
    padding-inline: 16px
  }

  @media (min-width: 40rem) {
    .container {
      max-width: none
    }
  }

  @media (min-width: 600px) {
    .container {
      max-width: 600px;
      padding-inline: 16px
    }
  }

  @media (min-width: 728px) {
    .container {
      max-width: 728px;
      padding-inline: 16px;
    }
  }

  @media (min-width: 992px) {
    .container {
      max-width: 992px;
      padding-inline: 16px
    }
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1200px;
      padding-inline: 16px
    }
  }

  @media (min-width: 1480px) {
    .container {
      max-width: 1480px;
      padding-inline: 16px
    }
  }
}


.animate-slide-down {
  animation: goDown 0.5s ease-out forwards;
}

@keyframes goDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}